.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 75%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 15%
    width: 130px
    height: 130px

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.bloque-texto-b.intro:before
  content: ''
  display: block
  position: absolute
  opacity: .30
  top: -2%
  bottom: 68px
  left: 70%
  right: 0

.cajon-b.lenguaje:before 
  content: ''
  display: block
  position: absolute
  opacity: .35
  top: 3%
  left: 0
  right: 68%
  bottom: 65%
.b16
  content: ''
  display: block
  position: absolute
  opacity: .30
  top: 3%
  left: 0
  right: 68%
  bottom: 65%

.bloque-texto-b.color-primario:before
  content: ''
  display: block
  position: absolute
  top: 35%
  bottom: 120px
  left: 10%
  right: 0

.bloque-texto-b.color-secundario.g:before
  content: ''
  display: block
  position: absolute
  top: 35%
  bottom: 10px
  left: 10%
  right: 0%

.bloque-texto-b.color-secundario:before 
    background-color: #FFE5CF

.bloque-texto-b.color-secundario:before 
    background-color: #fff3ea
.bg-532
  background-color:#FFB476

.img-a
  display: block
  margin: auto

.img-t
  width: auto
  height: auto


.cajon-b.color-acento-contenido:before, .cajon-b.color-acento-botones:before
  bottom: 40%
  right: 72%

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white

.contenidooculto
    display: none 

.bg1
  background-color: #FFF3EA
  border-radius: 20px

.bg20
  background-color: #FEE6D1

.img-infografica-b__modal
  background-color: #FFE7E3
  border-radius: 10px
  display: flex
  justify-content: center
  align-items: center
.img-infografica-b__modal__contenido div >
  *
    color: #12263F !important

.img-infografica-b__modal__btn-cerrar i
  color: #12263F
.img-infografica-b__modal__btn-cerrar
  background-color: #2EFEC7
  padding: .5rem

.img-infografica__card
  z-index: -1

.img-infografica__card--selected
  z-index: 1

.bg-img-blue
    background-color: rgb(8, 49, 66); 
    border-radius: 25px 
    padding: 7px
.icon-img-blue
  max-width: 55px; 
  left: -10%; 
  position: relative

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  @media (max-width: 810px)
    width: 45px
    height: 45px
  @media (max-width: $bp-max-sm )
    width: 35px
    height: 35px
.slyder-a__bullets__item
  @media (max-width: 810px)
    width: 15px
    height: 15px
    margin: 0 3px
  @media (max-width: $bp-max-sm)
    width: 15px
    height: 15px
    margin: 0 3px

.slyder-a
  &__tipo-a
    .slyder-a
      &__bullets
        position: absolute
        bottom: 20px !important
        left: 50%
        transform: translateX(-50%)

.slyder-a__bullets__item--active
  background-color: #FF6148 !important
  border: 1px solid #FF6148 !important
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #FF6148
.slyder-a__bullets__item
  background-color: #AFAFAF 
  border: 1px solid #AFAFAF
.slyder-a__btn--sigt:hover, .slyder-a__btn--atrs:hover
  border-color: #FF6148;


.bloque-texto-d.color-secundario::before
  background-color: #FFF1EF

.tarjeta.color-primario
  background: linear-gradient(190deg, rgba(10,78,106,1) 0%, rgba(2,10,13,1) 100%)  

.bloque-texto-g.color-acento-contenido
  box-shadow: inset 5rem 0 0 0 white

.tarjeta--slyder
  height: 100%
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
.custom
  .horizontal-scroll__wrapper
    padding: 0.5rem
.img-w1
  width: 33% !important
  top: 15% !important
.custom
  .horizontal-scroll
    align-items: stretch !important

.bg5
  background-color: #FFE5CF


.img-infografica-b__modal
  background-color: #FFE7E3
  border-radius: 10px
  display: flex
  justify-content: center
  align-items: center
.img-infografica-b__modal__contenido div >
  *
    color: #12263F !important

.img-infografica-b__modal__btn-cerrar i
  color: #12263F
.img-infografica-b__modal__btn-cerrar
  background-color: #2EFEC7
  padding: .5rem

.img-infografica__card
  z-index: -1

.img-infografica__card--selected
  z-index: 1

.bg7
  background-color: white
  border-radius: 22px


.tarjeta-flip.color-acento-contenido .tarjeta-flip__contenido
  background-color: #FFE5CF

.bloque-texto-a.color-acento-contenido
  background-color: #FFEAD9
.bloque-texto-a.color-acento-contenido:before 
    background-color: #FFB476;
    left: 30%;


.border-y
  border-top: solid 2px #AFAFAF !important
  border-bottom: solid 2px #AFAFAF !important

.border-bot
  border-bottom: solid 2px #AFAFAF !important


.slyder__btn
  background-color: #2EFEC7
.slyder-a.slider-a-custom
  background-color: #FFF3EA
  padding: 1rem 3rem !important;
  border-radius: 15px;
.bloque-texto-b.color-primario::before
  background-color: #FFF3EA

.cajon.color-secundario
  background-color: #FED9D3 #FFF1EF

.color-prim
  background-color:
    
.fondo-gray
  background: #F6F6F6
  background-position: center
  background-size: 100% 70%
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    background-size: cover
    margin-inline: -1.4rem

.fondo-gray2
  background: #F6F6F6
  background-position: center
  background-size: 100% 70%
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    background-size: cover
    margin-inline: -1.4rem

.fondo-t3
  background: url('../assets/curso/temas/tema3/fondo.png')
  background-size: 100% 70%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.fondo5
  background: url('../assets/curso/temas/tema3/fondo5.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.fondo-t4
  background: url('../assets/curso/temas/tema3/imgg.png')
  background-size: 90% 80%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: 0rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.fondo6
  background: url('../assets/curso/temas/tema3/fondo5.png')
  background-size: 100% 96%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.acordion 
    .acordion__activo
      background-color: #FEE6D1 !important
    .tarjeta--gris 
      background-color: #f6f6f6


.acordion-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #FF6148

.fondo-pink
  background: url('../assets/curso/temas/tema1/fonfos.png')
  background-size: 100% 60%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.fond2
  background: url('../assets/curso/temas/tema2/fond2.png')
  background-size: 65% 80%
  background-repeat: no-repeat
  background-position: left-up 
  margin-inline: 1.2 rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.acordion
  .tarjeta.bg6
    background-color: #F1F1F1

.tarjeta.bg6.acordion__activo
  background-color: #FFF3EA !important
.ml-1-custom
  margin-left: 1rem !important;
.colorv
  color: #FF6148
.colorv1
  background-color: #083142
.vtext
  color: #083142
.colorv2
  color: #FFF3EA

.bg9
  background-color: #FFF3EA

.tabla-a thead
  border-top: #FFF3EA  solid 5px !important
  background-color: #FF6148
.tabs-a__tab
    background-color: #E4E9EB;
.bloque-texto-c.color-secundario
  background-color: #FFF1EF

.linea-tiempo-c__header__btn--right
  background-color: #FF6148
.linea-tiempo-c__header__btn--right:hover
  border-color: #FF6148
.linea-tiempo-c__header__btn--left
  background-color: #FF6148
.linea-tiempo-c__header__btn--left:hover
  border-color: #FF6148
.linea-tiempo-c__header__btn i, .linea-tiempo-c__header__btn--left i, .linea-tiempo-c__header__btn--right i, .pasos-b__header__btn--left i, .pasos-b__header__btn--right i
  color: white;
.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
  border: 2px solid #fff;
.tarjeta--transparent 
    background-color: transparent;
.bg-norepeat
    background-repeat: no-repeat;
.border-20-cus
  border-radius: 20px;
.vcolor
  color: #FF6148
.mt-2-cus
    margin-top: 2rem !important;

.bgw
  background-color: white

.or
  color: #FF6148
.en
  text-decoration: none !important

center.text-
  text-align: center;
.slyder-f__btn i
    height: 48px;
    background-color: #FF6148;
    border-radius: 50%;
    background-position: center;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.3rem;
    color: white;
.he-1-cus
  min-height: 120px
.he-2-cus 
    height: 120px;
.he-3-cus
    height: 200px;
.he-4-cus
  height: 430px;
.he-5-cus 
    height: 70px;
.he-6-cus 
    height: 235px;
.he-7-cus 
    height: 181px;


.ml-neg-cus
  margin-left: -20px
.text-left-cus
  text-align: left;
.w-auto-cus
  width: fit-content;
.w-45-cus
  width: 45%;
.ml-neg-cus
  margin-left: -20px



.wd-80-cus
  width: 80%


.bg11
  background-color: #FFE5CF
  border-radius: 6px
  &:hover
    background-color: #FFB476
.bg11:hover .bg12 
  background-color: #FFF1E5;
.bg-white
  background-color: white;
.color-green
  color: #058160
.color-black
  color: black;
.ulcolor
  color: #FF6148

.bg12
  background-color: #FFB476
  border-radius: 6px
.bg12-r
  background-color: #FFB476
  border-radius: 50%
.bg13
  background-color:#FFECDC
  border-radius: 6px


.bg14
  background-color: #E8E8E8
  border-radius: 6px



.img-w2
  width: 33% !important
  top: 5% !important



.brad
  border-radius: 20px


.bg17
  background-color: #FFF7F0
  border-radius: 6px
.bg18
  background-color: #FFE5CF
  border-radius: 6px;
.bg19
  background-color: #FFECDC

.bg22
  background-color: #FF6148
  border-radius: 0 10px 10px 0
.bg23
  background-color: #FFB476
  border-radius: 20px
.bg24
  background-color: #D7DEE0
  border-radius: 20px
.bg23, .bg24
  width: 270px
  height: 160px
.img-pos-3
  position: relative;
  left: 15px;
.mt-5-cus
  margin-top: 1.5em;

.bg-white-r
  background-color: #FF6148;
  border-radius: 6px



.img-center-cus
  position: relative
  top: 35%
.linea-tiempo-b__icon::after
  left: 90%
.linea-tiempo-b__icon
  padding-top: 0%

.linea-tiempo-b__row:nth-child(2n+1) .linea-tiempo-b__icon::after
  right: 89%

.linea-tiempo-b__row:nth-child(2n+1) .linea-tiempo-b__content
  text-align: left

.tarjeta.color-primario
  background:#FF6148


.lista-ul
  li
    display: flex !important
    &::before
      position: relative
      margin-right: 7px
      font-size: 1.4rem

.lista-ol
  li
    display: flex !important
    &::before
      position: relative
      margin-right: 7px
      font-size: 1.4rem

.lista-ol--cuadro
  li
    display: flex !important
    &::before
      position: relative
      margin-right: 7px
      font-size: 1.4rem






.bloque-texto-b.intro:before 
    content: ''
    display: block
    position: absolute
    opacity: 200
    top: 8%
    bottom: 37px
    left: 72%
    right: 0



.bloque-texto-b:before 
    content: ''
    display: block
    position: absolute
    top: 2%
    bottom: 71px
    left: 64%
    right: 0
          

.banner-principal
  .container.tarjeta
    @media screen and (max-width: $bp-max-xs)
      background-image: none !important
      background: #FF6148
.w-75-cus
  width: 75%

.bg-img-blue
    background-color: #083142; 
    border-radius: 25px 
    padding: 7px
.icon-img-blue
  max-width: 55px; 
  left: -3%; 
  position: relative

.fondo1
    position: relative
    padding-bottom: 1rem  
    &::before
      content: ""
      position: absolute
      top: 0
      left: 2.5%
      width: 134%
      height: 100%
      margin: 0 -5rem      
      background-color: #fff9f4
      background-size: 100% 100%
      background-repeat: no-repeat
      background-position: center

.bg138
  background-color: #FFB476
  border-radius: 6px 
.bg-card
  background-position: center
  background-size: cover !important
  background-repeat: no-repeat
  &:hover
    background-position: center
    background-size: cover !important
    background-repeat: no-repeat
.tarjeta--slyder
  height: 100%
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
.cajaLM
    position: relative;
    display: flex;
    flex-direction: column;

.cajaLM:before 
    background-color: #FFF9F3;
    content: "";
    display: block;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 20%;
.colorv1
  background-color: #083142
.vtext
  color: #083142
.caja-cus
    position: relative;
    display: flex;
    flex-direction: column;

.caja-cus:before 
    background: linear-gradient( #DEE9F0 85%, #ffffff);
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;



  
.bg-5321
  background-color:  #FED9D3 

.bg-color-gra-3 
    background: linear-gradient(to bottom, #ffffff, #EEF1F2, #ffffff);
.tarjeta-avatar-cus
  border-radius: 10px 0 0 10px !important;
  border-right: 5px solid #FF6148 !important; 
.tarjeta--white
  background-color: #ffffff;   
.tarjeta-avatar-b__img 
    min-width: 15% !important;
    max-width: 15% !important;


@media screen and (max-width: $bp-max-xs)
  .slyder-a__bullets__item
    margin: 0 4px
  .w-img-cus,.w-img-cus-2
    width: 50%;
  .flex-sm-column-cus
    flex-direction: column;
  .he-4-cus
    height: 100%
  .w-75-cus
    width: 50%
  .mb-2-cus
    margin-bottom: 0.5rem !important
  

@media screen and (max-width: $bp-max-md)
  .slyder-a__bullets__item
    margin: 0 4px
  .w-img-cus
    width: 50%;
  .w-img-cus-2
    width: 25%;
  .flex-sm-column-cus
    flex-direction: column;
  .he-4-cus
    height: 100%
  .w-75-cus
    width: 30%
  .mb-2-cus
    margin-bottom: 0.5rem !important